.d30_214 { 
	overflow:hidden;
}
.e30_214 { 
	background-color:rgba(243.00000071525574, 233.00000131130219, 220.00000208616257, 1);
	width:320px;
	height:568px;
	position:absolute;
}
.e30_216 { 
	width:320px;
	height:89px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_217 { 
	background-color:rgba(215.0000023841858, 185.00000417232513, 161.0000056028366, 1);
	width:320px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_218 { 
	width:320px;
	height:25px;
	position:absolute;
	left:0px;
	top:57px;
}
.e30_219 { 
	background-color:rgba(215.0000023841858, 185.00000417232513, 161.0000056028366, 1);
	width:320px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_220 { 
	color:rgba(98.00000175833702, 56.000000461936, 23.000000528991222, 1);
	width:83px;
	height:25px;
	position:absolute;
	left:118px;
	top:0px;
	font-family:Gowun Batang;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e30_221 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:7px;
	position:absolute;
	left:0px;
	top:82px;
}
.e30_223 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:7px;
	position:absolute;
	left:0px;
	top:50px;
}
.e30_227 { 
	width:20.012481689453125px;
	height:20.5006103515625px;
	position:absolute;
	left:279.989990234375px;
	top:14.4993896484375px;
}
.e30_224 { 
	background-color:rgba(243.00000071525574, 233.00000131130219, 220.00000208616257, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:0.010009765625px;
	top:0.5006103515625px;
}
.e30_228 { 
	transform: rotate(-90deg);
	width:20px;
	height:0px;
	position:absolute;
	left:20px;
	top:20px;
}
.d30_228 { 
	border:1.5px solid rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
}
.e30_229 { 
	transform: rotate(-90deg);
	width:20px;
	height:0px;
	position:absolute;
	left:1px;
	top:20px;
}
.d30_229 { 
	border:1.5px solid rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
}
.e30_230 { 
	transform: rotate(-9.93923337957349e-17deg);
	width:20px;
	height:0px;
	position:absolute;
	left:0.012481689453125px;
	top:20.5006103515625px;
}
.d30_230 { 
	border:1.5px solid rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
}
.e30_231 { 
	transform: rotate(-9.93923337957349e-17deg);
	width:20px;
	height:0px;
	position:absolute;
	left:0px;
	top:1px;
}
.d30_231 { 
	border:1.5px solid rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
}
.e30_225 { 
	border-radius:500px;
	background-color:rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:7.010009765625px;
	top:7.5006103515625px;
}
.e30_234 { 
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:358px;
	position:absolute;
	left:-53px;
	top:152px;
}
.e44_111 { 
	width:317px;
	height:307px;
	position:absolute;
	left:6px;
	top:150px;
}
.e44_98 { 
	width:314px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_242 { 
	transform: rotate(-180deg);
	background-color:rgba(232.00000137090683, 212.00000256299973, 185.00000417232513, 1);
	width:229px;
	height:37px;
	position:absolute;
	left:314px;
	top:37px;
	border-radius:Symbol(figma.mixed)px;
}
.e30_236 { 
	color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:76px;
	height:24px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Arita-dotum4.0(OTF);
	text-align:center;
	font-size:16px;
	letter-spacing:-5;
}
.e44_101 { 
	width:307px;
	height:37px;
	position:absolute;
	left:7px;
	top:210px;
}
.e30_253 { 
	transform: rotate(-180deg);
	background-color:rgba(232.00000137090683, 212.00000256299973, 185.00000417232513, 1);
	width:229px;
	height:37px;
	position:absolute;
	left:307px;
	top:37px;
	border-radius:Symbol(figma.mixed)px;
}
.e30_244 { 
	color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:76px;
	height:24px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:Arita-dotum4.0(OTF);
	text-align:center;
	font-size:16px;
	letter-spacing:-5;
}
.e44_102 { 
	width:301px;
	height:37px;
	position:absolute;
	left:13px;
	top:270px;
}
.e30_256 { 
	transform: rotate(-180deg);
	background-color:rgba(232.00000137090683, 212.00000256299973, 185.00000417232513, 1);
	width:229px;
	height:37px;
	position:absolute;
	left:301px;
	top:37px;
	border-radius:Symbol(figma.mixed)px;
}
.e30_252 { 
	color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:76px;
	height:24px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:Arita-dotum4.0(OTF);
	text-align:center;
	font-size:16px;
	letter-spacing:-5;
}
.e44_99 { 
	width:310px;
	height:37px;
	position:absolute;
	left:7px;
	top:60px;
}
.e30_255 { 
	transform: rotate(-180deg);
	background-color:rgba(232.00000137090683, 212.00000256299973, 185.00000417232513, 1);
	width:232px;
	height:37px;
	position:absolute;
	left:310px;
	top:37px;
	border-radius:Symbol(figma.mixed)px;
}
.e30_250 { 
	color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:76px;
	height:24px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Arita-dotum4.0(OTF);
	text-align:center;
	font-size:16px;
	letter-spacing:-5;
}
.e44_100 { 
	width:294px;
	height:62px;
	position:absolute;
	left:15px;
	top:120px;
}
.e30_254 { 
	transform: rotate(-180deg);
	background-color:rgba(232.00000137090683, 212.00000256299973, 185.00000417232513, 1);
	width:61px;
	height:25px;
	position:absolute;
	left:85px;
	top:62px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e38_5 { 
	transform: rotate(-180deg);
	background-color:rgba(232.00000137090683, 212.00000256299973, 185.00000417232513, 1);
	width:61px;
	height:25px;
	position:absolute;
	left:176px;
	top:62px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e38_6 { 
	transform: rotate(-180deg);
	background-color:rgba(232.00000137090683, 212.00000256299973, 185.00000417232513, 1);
	width:61px;
	height:25px;
	position:absolute;
	left:265px;
	top:62px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e30_246 { 
	color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:76px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arita-dotum4.0(OTF);
	text-align:center;
	font-size:16px;
	letter-spacing:-5;
}
.e38_2 { 
	color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:85px;
	top:40px;
	font-family:Arita-dotum4.0(OTF);
	text-align:center;
	font-size:11px;
	letter-spacing:11;
}
.e38_3 { 
	color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:175px;
	top:40px;
	font-family:Arita-dotum4.0(OTF);
	text-align:center;
	font-size:11px;
	letter-spacing:11;
}
.e38_4 { 
	color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:264px;
	top:40px;
	font-family:Arita-dotum4.0(OTF);
	text-align:center;
	font-size:11px;
	letter-spacing:11;
}
.e45_749 { 
	width:121px;
	height:31px;
	position:absolute;
	left:102px;
	top:104px;
}
.e40_3 { 
	color:rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
	width:113px;
	height:23px;
	position:absolute;
	left:4px;
	top:4px;
	font-family:Gowun Batang;
	text-align:center;
	font-size:20px;
	letter-spacing:-3.5;
}
.e40_4 { 
	background-color:rgba(255, 255, 255, 0);
	width:121px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.d40_4 { 
	border:2px solid rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
}
.e44_97 { 
	color:rgba(98.00000175833702, 56.000000461936, 23.000000528991222, 1);
	width:154px;
	height:36px;
	position:absolute;
	left:83px;
	top:8px;
	font-family:Gowun Batang;
	text-align:center;
	font-size:20px;
	letter-spacing:12;
}
.e44_103 { 
	width:124px;
	height:41px;
	position:absolute;
	left:98px;
	top:495px;
}
.e44_104 { 
	box-shadow:4px 8px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(111.00000098347664, 111.00000098347664, 75.00000312924385, 1);
	width:124px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:60px;
}
.e44_105 { 
	color:rgba(232.00000137090683, 212.00000256299973, 185.00000417232513, 1);
	width:75.94258880615234px;
	height:29px;
	position:absolute;
	left:24.325361251831055px;
	top:7.5957489013671875px;
	font-family:Gowun Batang;
	text-align:center;
	font-size:20px;
	letter-spacing:1;
}
