/* 토글 메뉴 아이콘 이미지 */

.toggle_icon {

position: absolute;
width: 7.47vw;
height: 22.67vw;
left: 30.9vw;
top: 109.33vw;

/* 녹색 */
background: #6F6F4B;

position: absolute;
width: 6.25vw;
height: 6.25vw;
left: 10.94vw;
top: 34.38vw;

background: url('스크린샷 2023-10-14 145002.png');

}

/* 배경화면 무늬 */

.bodything{

position: absolute;
width: 116.48vw;
height: 103.13vw;

background: #FFFFFF;

}