.d30_706 { 
	overflow:hidden;
}
.e30_706 { 
	background-color:rgba(243.00000071525574, 233.00000131130219, 220.00000208616257, 1);
	width:320px;
	height:568px;
	position:absolute;
}
.e30_710 { 
	width:320px;
	height:89px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_713 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:7px;
	position:absolute;
	left:0px;
	top:82px;
}
.e30_711 { 
	background-color:rgba(215.0000023841858, 185.00000417232513, 161.0000056028366, 1);
	width:320px;
	height:25px;
	position:absolute;
	left:0px;
	top:57px;
}
.e30_712 { 
	color:rgba(98.00000175833702, 56.000000461936, 23.000000528991222, 1);
	width:83px;
	height:25px;
	position:absolute;
	left:118px;
	top:57px;
	font-family:Gowun Batang;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e30_715 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:7px;
	position:absolute;
	left:0px;
	top:50px;
}
.e30_709 { 
	background-color:rgba(215.0000023841858, 185.00000417232513, 161.0000056028366, 1);
	width:320px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_714 { 
	background-color:rgba(215.0000023841858, 185.00000417232513, 161.0000056028366, 0.699999988079071);
	width:320px;
	height:50px;
	position:absolute;
	left:0px;
	top:518px;
}
.e30_719 { 
	width:20px;
	height:20px;
	position:absolute;
	left:280px;
	top:15px;
}
.e30_716 { 
	background-color:rgba(243.00000071525574, 233.00000131130219, 220.00000208616257, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.d30_716 { 
	border:1.5px solid rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
}
.e30_717 { 
	border-radius:500px;
	background-color:rgba(103.0000014603138, 73.00000324845314, 63.000000044703484, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:8px;
	top:8px;
}
.e41_2 { 
	transform: rotate(166.2735984923271deg);
	background-color:rgba(255, 255, 255, 1);
	width:372.7476806640625px;
	height:330px;
	position:absolute;
	left:379.57696533203125px;
	top:421.063720703125px;
}
