/* 2번 버튼 */

Button_2{
position: absolute;
width: 39.06vw;
height: 14.69vw;
left: calc(50% - 39.06vw/2 - 0.156vw);
top: 150vw;



/* 버튼 크기 및 위치 */

position: absolute;
width: 39.06vw;
height: 14.69vw;
left: calc(50% - 39.06vw/2 - 0.156vw);
top: 150vw;

/* 버튼 바탕 색 및 그림자 */
background: #E8D4B9;
box-shadow: 1.25vw 2.5vw 1.25vw rgba(0, 0, 0, 0.3);
border-radius: 18.75vw;


/* 글자 상자 위치 및 글꼴과 색깔 */

position: absolute;
width: 30.94vw;
height: 9.38vw;
left: 34.38vw;
top: 152.81vw;

font-family: 'Gowun Batang';
font-style: normal;
font-weight: 700;
font-size: 6.25vw;
line-height: 9.06vw;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.015em;

color: #67493F;

}

/* 수거하기 버튼 */
Button_3{
    
position: absolute;
width: 38.75vw;
height: 12.81vw;
left: calc(50% - 38.75vw/2);
top: 148.75vw;

/* 버튼 크기 및 위치 */

position: absolute;
width: 38.75vw;
height: 12.81vw;
left: calc(50% - 38.75vw/2);
top: calc(50% - 12.81vw/2 + 66.41vw);

/* 버튼 색깔 및 그림자 */
background: #6F6F4B;
box-shadow: 1.25vw 2.5vw 1.25vw rgba(0, 0, 0, 0.3);
border-radius: 18.75vw;


/* 글상자 위치, 크기 및 글씨체, 색깔, 크기 */

position: absolute;
width: 23.73vw;
height: 7.91vw;
left: calc(50% - 23.73vw/2 + 0.09vw);
top: calc(50% - 7.91vw/2 + 66.95vw);

font-family: 'Gowun Batang';
font-style: normal;
font-weight: 700;
font-size: 6.25vw;
line-height: 9.06vw;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;

color: #E8D4B9;

}